.formHeader {
  display: none;
}
/* .formHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} */

.left {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.left > div {
  margin-bottom: 10px;
}

.left p {
  margin: 2px 0;
  line-height: 1.3;
}

.ministry {
  font-weight: bold;
}
.fop {
  font-size: 12px;
}

.right {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 35%;
}

.right h3 {
  margin: 0;
}

.forma p {
  margin: 0;
  font-size: 12px;
  line-height: 1.3;
  text-transform: lowercase;
}

.forma p h3 {
  display: inline;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}
