h2 {
  text-align: center;
}

table,
table th,
table td {
  border: 1px solid #b9c1cc;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: center;
  border: 1px solid #555;
  background: transparent;
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
}
.medTable {
  table-layout: fixed;
  width: 100%;
  font-size: 8px;
}
.shapkaTable {
  background-color: #555c66;
  color: #ffff;
  font-size: 6px;
}

th.vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  padding: 2px 1px;
  width: 1%;
}

td select {
  max-width: 100%;
}
.tableBody td {
  box-sizing: border-box;
  vertical-align: middle;
  padding: 0px 2px; /* 0 зверху і знизу */
  height: 12px; /* Жорстка висота комірки */
  line-height: 1;
}

input,
select {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: inherit;
  min-width: 0;
  font-size: 8px;
}
.col1 input {
  text-align: center;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  font-size: 6px;
  padding-left: 2px;
}
input:focus,
select:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.diagWrap input.toothInput:focus,
.diagWrap select:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.col2 {
  white-space: nowrap;
}
.col91 select,
.col92 select,
.col101 select,
.col102 select,
.col103 select,
.col11 select,
.col12 select {
  text-align: left;
}
tbody td[contenteditable="true"] {
  border: 1px solid #aaa;
  min-width: auto;
  padding: 2px 4px;
  cursor: text;
  vertical-align: middle;
}
tbody td[contenteditable="true"]:focus {
  outline: 2px solid #aaa;
  background-color: #1111;
}
.tableBody {
  background-color: #000;
  color: #ffff;
}

.myList {
  background-color: #111;
  color: #ffff;
  -webkit-appearance: none; /* Chrome, Safari */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* стандарт */
}

.col9 {
  display: flex;
  gap: 5px;
}

.col91,
.col92 {
  flex: 1;
}

.ds select,
.zub select {
  width: 100%;
}
.diagWrap {
  display: flex;
  gap: 4px;
  min-width: 0;
}

.diagWrap select {
  flex: 3; /* select займає 3 частини */
  min-width: 0;
}

.diagWrap .toothInput {
  flex: 1; /* input займає 1 частину */
  text-align: center;
  min-width: 0;
}

/* Встановлюємо ширину колонок через nth-child */
.medTable col:nth-child(1) {
  width: 3%;
}
.medTable col:nth-child(2) {
  width: 6%;
}
.medTable col:nth-child(3) {
  width: 11%;
}
.medTable col:nth-child(4) {
  width: 3%;
}
.medTable col:nth-child(5) {
  width: 4%;
}
.medTable col:nth-child(6) {
  width: 4%;
}
.medTable col:nth-child(7) {
  width: 4%;
}
.medTable col:nth-child(8) {
  width: 3%;
}
.medTable col:nth-child(9) {
  width: 10%;
}
.medTable col:nth-child(10) {
  width: 10%;
}
.medTable col:nth-child(11) {
  width: 9%;
}
.medTable col:nth-child(12) {
  width: 9%;
}
.medTable col:nth-child(13) {
  width: 9%;
}
.medTable col:nth-child(14) {
  width: 5%;
}
.medTable col:nth-child(15) {
  width: 5%;
}
.medTable col:nth-child(16) {
  width: 2.5%;
}
.medTable col:nth-child(17) {
  width: 4%;
}
