.controls {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 40px;
}
.controls button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
}
button {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}
