.controls {
  display: flex;
  justify-content: flex-end; /* кнопки праворуч */
  gap: 10px; /* відстань між кнопками */
  margin-top: 20px;
  margin-bottom: 40px;
}

.controls button {
  padding: 6px 12px;
  font-size: 12px;
  cursor: pointer;
  background-color: #111; /* як у таблиці */
  color: #fff; /* білий текст */
  border: 1px solid #555; /* як у таблиці */
  border-radius: 3px;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.controls button:hover {
  background-color: #555; /* ефект при наведенні */
  color: #fff;
}
