.zagolovok {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  margin: 0;
  font-size: 24px;
  color: black;
}

.subtitle {
  margin: 5px 0 0 0;
  font-size: 16px;
  line-height: 1.4;
  color: black;
}
