.periodRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 15px 0 20px;
  font-size: 14px;
}
.periodLeft {
  display: flex;
  align-items: baseline;
  gap: 6px;
  white-space: nowrap;
  font-family: "Times New Roman", serif;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.periodLeft select {
  display: inline-block;
  border: none;
  border-bottom: 1px solid #000;
  font-family: "Times New Roman", serif;
  background: transparent;
  padding: 0 6px;
  line-height: 1.2;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  min-width: 90px;
  text-align: center;
}

.periodLeft select:focus {
  outline: none;
}
.periodRight {
  width: 45%;
  text-align: center;
  font-family: "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}
#doctorInput {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  font-family: "Times New Roman", serif;
  padding: 6px 8px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  text-transform: capitalize;
  color: #000;
  outline: none;
  box-sizing: border-box;
  text-align: center;
}

#doctorInput:focus {
  border-bottom-color: #007bff;
  transition: border-color 0.3s;
}
