@page {
  size: A4 landscape;
  margin: 10mm;
}
body {
  font-family: Arial, sans-serif;
  background-color: #b9c1cc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  max-width: 100%;
}

.pageWrapper {
  margin: 0 auto;
  padding: 10px 10px;
}
.homeButton {
  padding: 8px 18px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.15);

  background: #2b2b33;
  color: #fff;

  font-size: 15px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.homeButton:hover {
  background: #3a3a45;
  transform: translateY(-1px);
}

.homeButton:active {
  transform: translateY(0);
}

@media print {
  body,
  table,
  th,
  td,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  select,
  option {
    color: black !important;
  }

  body,
  table,
  th,
  td {
    background: white !important;
  }

  body {
    margin: 0;
    font-size: 8px;
    zoom: 0.8;
  }

  .controls,
  .no-print,
  button {
    display: none !important;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
  }

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }

  .vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  td[contenteditable="true"] {
    outline: none;
  }

  input::placeholder {
    color: transparent;
  }

  select {
    appearance: none;
    border: none;
    background: transparent;
    color: #000;
    font-size: 16px;
    text-align: center;
    pointer-events: none;
  }

  select::-ms-expand {
    display: none;
  }
}
