body {
  margin: 0;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: left;
}

.heroContent {
  color: white;
  margin-left: 20px;
  margin-top: 50px;
}
.link {
  color: white;
  text-decoration: none;
}
